*{
    padding: 0%;
    margin: 0%;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thetop{
    background-color: white;
    position: fixed;
    bottom: 32rem;
    left: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70rem;
    z-index: 1000;
}
.imgandtitle{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgandtitle img{
    width:4rem ;
}
.thenavbar{
    display: flex;
     gap: 1rem;
}
.thenavbar ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
.thenavbar ul a{
    color: rgb(8, 8, 8);
text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

.btn1{
    padding: 0.7rem;
    border-radius: 20px;
    border: none;
    background-color: rgb(2, 103, 2);
    color: aliceblue;
    cursor: pointer;
}
.btn1:hover p{
     transform: translateY(-7px);
}

/* the first container */
.conta1{
    padding-top: 5rem;
    margin-top: rem;
    width: 75rem;
background-color: rgb(229, 247, 245);

}
.box1{
    margin: 1rem;
    display: flex;
    flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}
.grayp{
    color: gray;
}
.h1first{
    font-size: 5rem;
    font-weight: 400;
}

/* the second section */
.conta2{
    gap: 5rem;
display: flex;
flex-direction: row;
}
/*? the sidebar  */
.sidebar{
    margin: 1rem;
    gap: 1rem;
    display: grid;
    grid-template-rows: repeat(7,1fr);
}
.sidecard{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    background-color: aliceblue;
    border-radius: 10px;
    cursor: pointer;
}
.sidecard:hover{
    color: white;
    background-color: rgb(1, 183, 182)  ;
}

/* the right box */


.txt-div-titre{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.paragraph1{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: gray;
}
.upperbox{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
}
.image-green-box{

}
.green-box-para{
    position: relative;
    bottom: 7rem;
    left: 0.4rem;
    width: 17rem;
    padding: 1rem;
    background-color:rgb(1, 183, 182) ;
    color: white;
    border-radius: 10px;

}
.imgthums{
    border-radius: 10px;
  width: 20rem;
}
.icon-chek i{
    font-size: 4rem;
    color: rgb(1, 183, 182);
}
.title-para3{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cul-ic-txt{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.container-icon-txt{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    margin: 1rem;

}

/* the eightth container */
.conta8{
display: flex;
flex-direction: row;
gap: 5rem;
background-color: rgb(1, 84, 97);
color: white;
align-items: center;
padding: 3rem;
border-bottom: 1px solid gray;
}
.pwhitebold{
    color: lightgray;
}
.box6{
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
.box7{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.box8{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.box9{
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}
.txt6div{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.iconboxdiv{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.iconbox2{
    color: lightgray;
    border-radius: 10px;
    padding: 0.5rem;
}


/* footer */
footer{
    width: 66.9rem;
    display: flex;
flex-direction: row;
justify-content: space-around;
background-color: rgb(1, 84, 97);
color: white;
align-items: center;
padding: 1rem;
margin-left: 5.1rem;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;

}
